<div class="jumbotron">
  <h2>ToDo! Free and Easy</h2>
  <br>
  <h4>Easy and Simple to use, ToDo is a simple task management Application</h4>
  <br>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
</div>